<p id="notice"><%= notice %></p>

<h3>Songs for <%= @artist.name %></h3>

<h4>Genre: <%= @artist.genre.try(:name) %></h4>

<ul>
  <% @artist.songs.order(:name).each do |song| %>
    <li><%= song.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_artist_path(@artist), class: 'btn btn-default' %>
<%= link_to 'Back', artists_path, class: 'btn btn-default' %>
